<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3-us-west-2.amazonaws.com/prd-rteditorial/wp-content/uploads/2018/10/18164731/700Horror.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to 'Add a Movie!', new_list_bookmark_path(@list), class: 'btn btn-danger mt-3' %>
</div>
</div>
<h1><%= @list.name %></h1>
<%# TODO display %>

 <div class="cards">
  <% @list.bookmarks.each do |bookmark|%>
    <div class="card-product">
      <img src= <%= bookmark.movie.poster_url%>/>
      <div class="card-product-infos">
      <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
  </div>
</div>
    <% end %>
</div>

<%# display movie url for image %>
